{
  "presets": ["react",
    ["env", {
      "targets": {
        "node": "current"
      }
    }],"stage-2"],
  "env": {
    "development": {
      "presets": [
        ["react-hmre"]
      ]
    }
  },
  "sourceMaps": true,
  "retainLines": true
}
