/.idea/inspectionProfiles/Project_Default.xml
/.idea/itR-crypto-portfolio.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/*.*
# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# Dependency directories
node_modules
npm-debug.log

# Optional npm cache directory
.npm


