#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 850px;
  margin:0 auto;
}

.btn-primary{
  margin: 20px auto 20px auto;
}

a.active{
  color:orange;
}

nav{
  padding-top: 20px;
}

.input-error-border{
  border: 3px solid red;
  border-width: 1px;
}
.input-error-font{
  color:red;
  font-size:12px;
}
