
$primaryColor: #424e64;
$secondaryColor: #bbc2ca;
$thirdColor: #c3cde2;
$fontColor: #35373a;
$accent: #f1c517;

$defaultFont: 'Ubuntu', sans-serif;

$normalWeight:300;
$boldWeight:700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
